target/META-INF/mule-src/mule-template-api/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="get:\leads:mule-template-api-config" doc:id="91a291e2-10f4-4de0-a410-2c3f8926b7ec" >
		<ee:transform doc:name="Set Log Configuration" doc:id="1f610a79-01d1-45b9-84bc-46554f41a5b3" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="logMessage" ><![CDATA[%dw 2.0
output application/java
---
'Get leads - Start']]></ee:set-variable>
				<ee:set-variable variableName="logCategory" ><![CDATA[%dw 2.0
output application/java
---
'Trace']]></ee:set-variable>
				<ee:set-variable variableName="logLevel" ><![CDATA[%dw 2.0
output application/java
---
'INFO']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="mule-common-logger-subflow" doc:id="b5b14ab6-dbe3-45c0-a426-439838132491" name="mule-common-logger-subflow" />
		<ee:transform doc:name="Compose Payload" doc:id="1c42ef8d-c3bc-41e9-b058-85a8eca896d9" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[
  {
    id: 1234565,
    name: "New business at Company X",
    company: "Company X",
    contact: "Mr. X / +001-525-5223-113",
    createdBy: "John Doe",
    createDate: "2018-11-30",
    opportunityCreated: true,
    opportunityCreatedBy: "Jane Doe",
    opportunityCreatedDate: "2018-12-03"
  }, 
  {
    id: 1234566,
    name: "New business at Company Y",
    company: "Company Y",
    contact: "Mrs. Y / +001-342-8744-987",
    createdBy: "Jane Doe",
    createDate: "2018-11-30",
    opportunityCreated: true,
    opportunityCreatedBy: "John Doe",
    opportunityCreatedDate: "2018-12-03"
  }
]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[200]" doc:name="Set HTTP Status" doc:id="4df55e23-cb29-45aa-8ed8-2ae4e3f11dcb" variableName="httpStatus" />
		<ee:transform doc:name="Set Log Configuration" doc:id="2bb3b2ac-b32e-4613-a6fc-830c66749106" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="logMessage" ><![CDATA[%dw 2.0
output application/java
---
'Get leads - Finish']]></ee:set-variable>
				<ee:set-variable variableName="logCategory" ><![CDATA[%dw 2.0
output application/java
---
'Trace']]></ee:set-variable>
				<ee:set-variable variableName="logLevel" ><![CDATA[%dw 2.0
output application/java
---
'INFO']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="mule-common-logger-subflow" doc:id="cd6f6972-1a17-412d-aef8-6a0453debf0d" name="mule-common-logger-subflow" />
	</flow>
	<flow name="get:\opportunities:mule-template-api-config" doc:id="d79fd5de-5a8f-4717-af11-fd7fa0da618e" >
		<ee:transform doc:name="Set Log Configuration" doc:id="83283a89-f6cf-4640-97bb-2bbbe2448c01" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="logMessage" ><![CDATA[%dw 2.0
output application/java
---
'Get opportunities - Start']]></ee:set-variable>
				<ee:set-variable variableName="logCategory" ><![CDATA[%dw 2.0
output application/java
---
'Trace']]></ee:set-variable>
				<ee:set-variable variableName="logLevel" ><![CDATA[%dw 2.0
output application/java
---
'INFO']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="mule-common-logger-subflow" doc:id="939f9f9e-9b76-4ff1-b4ae-a3ea59d8d557" name="mule-common-logger-subflow" />
		<ee:transform doc:name="Compose Payload" doc:id="36c6f8bf-dc74-46ac-abb0-e22aa20f0479" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[
  {
    id: 124565,
    name: "Opportunity at Company X",
    company: "Company X",
    contact: "Mr. X / +001-525-5223-113",
    createdBy: "John Doe",
    createDate: "2018-11-30",
    opportunityClosed: false,
    closedBy: null,
    closedDate: null,
    stage: "Proposal",
    acv: 3000000
  }, 
  {
    id: 124566,
    name: "Opportunity at Company Y",
    company: "Company Y",
    contact: "Mrs. Y / +001-342-8744-987",
    createdBy: "Jane Doe",
    createDate: "2018-11-30",
    opportunityClosed: true,
    closedBy: "Jane Doe",
    closedDate: "2018-12-03",
    stage: "Sale",
    acv: 1500000
  }
]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[200]" doc:name="Set HTTP Status" doc:id="a2f18916-05a1-4399-b66b-e6be7843a40c" variableName="httpStatus" />
		<ee:transform doc:name="Set Log Configuration" doc:id="a1a35efb-22d2-487c-8859-6d1223df47a5" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="logMessage" ><![CDATA[%dw 2.0
output application/java
---
'Get opportunities - Finish']]></ee:set-variable>
				<ee:set-variable variableName="logCategory" ><![CDATA[%dw 2.0
output application/java
---
'Trace']]></ee:set-variable>
				<ee:set-variable variableName="logLevel" ><![CDATA[%dw 2.0
output application/java
---
'INFO']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="mule-common-logger-subflow" doc:id="8fb0beb5-5eec-42fd-b6d7-7f21d2155dcc" name="mule-common-logger-subflow" />
	</flow>
	<flow name="get:\opportunities\(id):mule-template-api-config" doc:id="09998b04-1f05-4e9d-bc9c-07b297f444ca" >
		<ee:transform doc:name="Get Opportunity Id" doc:id="86b19c17-9525-418e-acf0-d2fe9e749080" >
			<ee:variables >
				<ee:set-variable variableName="id" ><![CDATA[attributes.uriParams.id]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Set Log Configuration" doc:id="7a496de6-812c-44c1-bf7a-1ce49f01e5b5" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="logMessage" ><![CDATA[%dw 2.0
output application/java
---
'Get opportunity (' ++ vars.id ++ ') - Start']]></ee:set-variable>
				<ee:set-variable variableName="logCategory" ><![CDATA[%dw 2.0
output application/java
---
'Trace']]></ee:set-variable>
				<ee:set-variable variableName="logLevel" ><![CDATA[%dw 2.0
output application/java
---
'INFO']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="mule-common-logger-subflow" doc:id="8d0c3284-5746-4235-9211-179705246205" name="mule-common-logger-subflow" />
		<ee:transform doc:name="Compose Payload" doc:id="1800871b-98b4-4c56-a113-d6e955de9c43" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  id: vars.id,
  name: "Opportunity at Company X",
  company: "Company X",
  contact: "Mr. X / +001-525-5223-113",
  createdBy: "John Doe",
  createDate: "2018-11-30",
  opportunityClosed: false,
  closedBy: null,
  closedDate: null,
  stage: "Proposal",
  acv: 3000000
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[200]" doc:name="Set HTTP Status" doc:id="71b60663-99ac-4b58-b041-621d4c062f51" variableName="httpStatus" />
		<ee:transform doc:name="Set Log Configuration" doc:id="b3762657-72a7-40fb-afa6-839f994a447b" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="logMessage" ><![CDATA[%dw 2.0
output application/java
---
'Get opportunity (' ++ vars.id ++ ') - Finish']]></ee:set-variable>
				<ee:set-variable variableName="logCategory" ><![CDATA[%dw 2.0
output application/java
---
'Trace']]></ee:set-variable>
				<ee:set-variable variableName="logLevel" ><![CDATA[%dw 2.0
output application/java
---
'INFO']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="mule-common-logger-subflow" doc:id="4e52b4d7-e6cf-43b3-b259-546c217d4b03" name="mule-common-logger-subflow" />
	</flow>
	<flow name="get:\leads\(id):mule-template-api-config" doc:id="f4c3ae68-f397-47c8-990e-74fae65764d1" >
		<ee:transform doc:name="Get Lead Id" doc:id="e85693ee-a48a-43e8-ab81-b2064baa641f" >
			<ee:variables >
				<ee:set-variable variableName="id" ><![CDATA[attributes.uriParams.id]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Set Log Configuration" doc:id="54be982c-ef16-415b-9530-325f77e6ddfc" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="logMessage" ><![CDATA[%dw 2.0
output application/java
---
'Get lead (' ++ vars.id ++ ') - Start']]></ee:set-variable>
				<ee:set-variable variableName="logCategory" ><![CDATA[%dw 2.0
output application/java
---
'Trace']]></ee:set-variable>
				<ee:set-variable variableName="logLevel" ><![CDATA[%dw 2.0
output application/java
---
'INFO']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="mule-common-logger-subflow" doc:id="9789bb2e-6be5-4133-b3eb-9fdcc54ec00f" name="mule-common-logger-subflow" />
		<ee:transform doc:name="Compose Payload" doc:id="011d2bb2-163d-4704-b756-78f19dad6598" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  id: vars.id,
  name: "New business at Company X",
  company: "Company X",
  contact: "Mr. X / +001-525-5223-113",
  createdBy: "John Doe",
  createDate: "2018-11-30",
  opportunityCreated: true,
  opportunityCreatedBy: "Jane Doe",
  opportunityCreatedDate: "2018-12-03"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[200]" doc:name="Set HTTP Status" doc:id="89024a0f-a2da-4343-b56e-45958195bd70" variableName="httpStatus" />
		<ee:transform doc:name="Set Log Configuration" doc:id="4fb84f52-aef9-4871-afd6-1bcb3c5f8b9f" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="logMessage" ><![CDATA[%dw 2.0
output application/java
---
'Get lead (' ++ vars.id ++ ') - Finish']]></ee:set-variable>
				<ee:set-variable variableName="logCategory" ><![CDATA[%dw 2.0
output application/java
---
'Trace']]></ee:set-variable>
				<ee:set-variable variableName="logLevel" ><![CDATA[%dw 2.0
output application/java
---
'INFO']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="mule-common-logger-subflow" doc:id="4a8bc042-a08e-4714-9e9b-e958b94efc94" name="mule-common-logger-subflow" />
	</flow>
	<flow name="post:\leads:application\json:mule-template-api-config" doc:id="da130f32-573c-4c5d-90af-a878ec1ddb66" >
		<ee:transform doc:name="Set Log Configuration" doc:id="b3be3091-3e54-46fd-9697-60f623a7fdc2" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="logMessage" ><![CDATA[%dw 2.0
output application/java
---
'Post lead - Start']]></ee:set-variable>
				<ee:set-variable variableName="logCategory" ><![CDATA[%dw 2.0
output application/java
---
'Trace']]></ee:set-variable>
				<ee:set-variable variableName="logLevel" ><![CDATA[%dw 2.0
output application/java
---
'INFO']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="mule-common-logger-subflow" doc:id="deea6204-b7c8-43f3-b2a7-b888fba42525" name="mule-common-logger-subflow" />
		<ee:transform doc:name="Compose Payload" doc:id="3934ab1b-dda3-4700-817a-e94d8b1dde10" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  id: 124567,
  name: "New business at Company X",
  company: "Company X",
  contact: "Mr. X / +001-525-5223-113",
  createdBy: "John Doe",
  createDate: "2018-11-30",
  opportunityCreated: true,
  opportunityCreatedBy: "Jane Doe",
  opportunityCreatedDate: "2018-12-03"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[201]" doc:name="Set HTTP Status" doc:id="15ee36e0-54e7-463e-89ff-d65832b69a14" variableName="httpStatus" />
		<ee:transform doc:name="Set Log Configuration" doc:id="8cc052d8-de66-4b8c-af59-7f7dedd0da42" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="logMessage" ><![CDATA[%dw 2.0
output application/java
---
'Post lead - Finish']]></ee:set-variable>
				<ee:set-variable variableName="logCategory" ><![CDATA[%dw 2.0
output application/java
---
'Trace']]></ee:set-variable>
				<ee:set-variable variableName="logLevel" ><![CDATA[%dw 2.0
output application/java
---
'INFO']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="mule-common-logger-subflow" doc:id="71b36497-9a24-4213-b804-310812a58a21" name="mule-common-logger-subflow" />
	</flow>
	<flow name="post:\opportunities:application\json:mule-template-api-config" doc:id="6d506718-80db-407c-961b-874c6f26c9a5" >
		<ee:transform doc:name="Set Log Configuration" doc:id="235bb45c-7f19-490b-8eec-f8fdf2de85ac" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="logMessage" ><![CDATA[%dw 2.0
output application/java
---
'Post opportunity - Start']]></ee:set-variable>
				<ee:set-variable variableName="logCategory" ><![CDATA[%dw 2.0
output application/java
---
'Trace']]></ee:set-variable>
				<ee:set-variable variableName="logLevel" ><![CDATA[%dw 2.0
output application/java
---
'INFO']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="mule-common-logger-subflow" doc:id="f8e59567-db36-496b-afdb-2164a9718ffd" name="mule-common-logger-subflow" />
		<ee:transform doc:name="Compose Payload" doc:id="20e1cfd7-1c24-44c2-ad5b-f6b6d841fb4d" xsi:schemaLocation=" http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  id: 124567,
  name: "Opportunity at Company X",
  company: "Company X",
  contact: "Mr. X / +001-525-5223-113",
  createdBy: "John Doe",
  createDate: "2018-11-30",
  opportunityClosed: false,
  closedBy: null,
  closedDate: null,
  stage: "Proposal",
  acv: 3000000
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[201]" doc:name="Set HTTP Status" doc:id="9b3bbf8d-e329-4fb9-8855-7a93aaf1867e" variableName="httpStatus" />
		<ee:transform doc:name="Set Log Configuration" doc:id="9c2dab21-f1d2-45f4-a73c-406535ae610e" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="logMessage" ><![CDATA[%dw 2.0
output application/java
---
'Post opportunity - Finish']]></ee:set-variable>
				<ee:set-variable variableName="logCategory" ><![CDATA[%dw 2.0
output application/java
---
'Trace']]></ee:set-variable>
				<ee:set-variable variableName="logLevel" ><![CDATA[%dw 2.0
output application/java
---
'INFO']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="mule-common-logger-subflow" doc:id="623a0d12-6cbd-4e2b-9c60-4561e01b215d" name="mule-common-logger-subflow" />
	</flow>
	<flow name="get:\api-status:mule-template-api-config" doc:id="8ef48651-0b7f-45fd-a2c4-694c18108d90" >
		<ee:transform doc:name="Set Log Configuration" doc:id="52b22973-c64e-47e6-aa4b-c13db2b8affe" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="logMessage" ><![CDATA[%dw 2.0
output application/java
---
'Get API status - Start']]></ee:set-variable>
				<ee:set-variable variableName="logCategory" ><![CDATA[%dw 2.0
output application/java
---
'Trace']]></ee:set-variable>
				<ee:set-variable variableName="logLevel" ><![CDATA[%dw 2.0
output application/java
---
'INFO']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="mule-common-logger-subflow" doc:id="d6039d07-5cdb-4c55-88c0-868b8488d5a4" name="mule-common-logger-subflow" />
		<ee:transform doc:name="Compose Payload" doc:id="69dacc2a-bd5e-449e-a5e8-794e365e52c6" xsi:schemaLocation=" http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd  http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"app-name": p('application.name'),
	"api-id": p('api.id'),
    "api-name": p('api.name'),
    "version": p('api.version'),
    "environment": p('secure::environment.name'),
    "status": "pass",
    "details": "api is healthy",
	"timestamp": now()  as String {format: "yyyy-MM-dd'T'HH:mm:ss" }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[200]" doc:name="Set HTTP Status" doc:id="d8be9ea4-5c20-4764-9f6e-8db9d3783394" variableName="httpStatus" />
		<ee:transform doc:name="Set Log Configuration" doc:id="c06e1c4c-4228-410d-a0a5-b4910fd91a8e" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="logMessage" ><![CDATA[%dw 2.0
output application/java
---
'Get API status - Finish']]></ee:set-variable>
				<ee:set-variable variableName="logCategory" ><![CDATA[%dw 2.0
output application/java
---
'Trace']]></ee:set-variable>
				<ee:set-variable variableName="logLevel" ><![CDATA[%dw 2.0
output application/java
---
'INFO']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="mule-common-logger-subflow" doc:id="ed6acaec-99d8-414f-8e86-17db684352d7" name="mule-common-logger-subflow" />
	</flow>
</mule>
