src/main/mule/mule-template-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <apikit:config name="mule-template-api-config" api="resource::e545db52-c3a7-491b-ab94-b739c1b438bc:mule-4-template-api:1.0.1:raml:zip:api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ba01c9b1-6769-4fbb-af41-2b93c2046e27">
        <http:listener-connection host="${api.http.listener.host}" port="${api.http.listener.port}" />
    </http:listener-config>
    <flow name="mule-template-api-main">
        <http:listener doc:name="Listener" doc:id="59449db7-e216-4c15-962a-8fada7e41aaf" path="${api.http.listener.path}" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[output application/java
---
{
	"eTag" : vars.hash
}]]]></http:headers>
            </http:response>
        </http:listener>
        <flow-ref doc:name="mule-common-request-initiation-subflow" doc:id="d85d9e7a-f1bd-4168-903d-5f948a88ae15" name="mule-common-request-initiation-subflow" />
        <apikit:router doc:name="APIkit Router" doc:id="f2ec807c-fe83-4cda-9933-27196dbf8675" config-ref="mule-template-api-config" />
        <flow-ref doc:name="mule-common-response-finalize-subflow" doc:id="e1a4ff70-b076-4c56-b470-cba97dd3686a" name="mule-common-response-finalize-subflow" />
        <error-handler ref="globalError_Handler" />
    </flow>
    <flow name="mule-template-api-console" doc:id="89b8e0a6-b171-4503-bbc2-f218a5e91fc5">
        <http:listener doc:name="Listener" doc:id="7f2e0d5c-64d9-4a3d-8ba1-a0a3edec8c30" config-ref="HTTP_Listener_config" path="/console/*" />
        <flow-ref doc:name="mule-common-request-initiation-subflow" doc:id="4c528833-52fd-4fad-9eb8-5b632d416775" name="mule-common-request-initiation-subflow" />
        <apikit:console doc:name="APIkit Console" doc:id="d9325bfd-264d-4330-bcfc-e1da23ac406a" config-ref="mule-template-api-config" />
        <flow-ref doc:name="mule-common-response-finalize-subflow" doc:id="50bad3f7-803d-4b64-8f4f-30b6db323082" name="mule-common-response-finalize-subflow" />
    </flow>
</mule>
